//
//  Secrets.xcconfig

GOOGLE_CLIENT_ID = 478125009189-64h8e1sebk7lup7jge50lus5mknch72a.apps.googleusercontent.com
GOOGLE_URL_SCHEMES = com.googleusercontent.apps.478125009189-64h8e1sebk7lup7jge50lus5mknch72a
KAKAO_APP_KEY = bbe38742c0998fecfaaaaaef6856fc32
NAVER_CLIENT_ID = 1nnIvXOKtN4VenE3yKl9
NAVER_CLIENT_SECRET = dpcd5T4VRB
